html,
body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: normal;
  text-transform: none !important;
}

body {
  background-size: cover;
  background-color: #1e1e1e !important;
}

.modal-backdrop {
  opacity: 0.6 !important;
}

.hidden {
  display: none !important;
}

.modal-content {
  background-color: #595a59 !important;
  color: white !important;
  border-radius: 20px !important;
}

.modal-title {
  color: white !important;
  font-weight: bold !important;
}

.font-primary {
  color: white;
}

.font-secondary {
  color: rgba(223, 223, 223, 0.748);
}

.font-primary2 {
  color: black;
}

.bg-primary1 {
  background-color: #1e1e1e !important;
}

.bg-primary2 {
  background-color: #3c3d3b !important;
}

.bg-primary3 {
  background-color: #595a59 !important;
}

.card {
  border: none !important;
}

.alert-short {
  padding: 10px;
  text-align: center;
  color: black !important;
  font-weight: bold !important;
  position: relative;
}

.container {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 100px;
}

.no-bg {
  background: none !important;
}

.canvas-primary1 {
  background-color: #1e1e1e !important;
  -webkit-box-shadow: 0px 5px 15px -4px rgba(0, 0, 0, 0.55);
          box-shadow: 0px 5px 15px -4px rgba(0, 0, 0, 0.55);
  border-radius: 20px;
}

.canvas-primary2 {
  background-color: #3c3d3b !important;
  -webkit-box-shadow: 0px 5px 15px -4px rgba(0, 0, 0, 0.55);
          box-shadow: 0px 5px 15px -4px rgba(0, 0, 0, 0.55);
  border-radius: 20px;
}

.canvas-primary3 {
  background-color: #595a59 !important;
  -webkit-box-shadow: 0px 5px 15px -4px rgba(0, 0, 0, 0.55);
          box-shadow: 0px 5px 15px -4px rgba(0, 0, 0, 0.55);
  border-radius: 20px;
}

.logo-square {
  fill: #4cbc18;
  stroke: #4cbc18;
  stroke-width: 5;
  opacity: 0.5;
}

.frame {
  height: 420px;
  width: 460px;
  display: block;
  padding-bottom: 20px;
  background-color: #363735;
  margin-left: auto;
  margin-right: auto;
  border-top: solid 2px rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  -webkit-box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

#check path {
  stroke: #ffffff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: .85px;
  stroke-dasharray: 60px 300px;
  stroke-dashoffset: -166px;
  fill: rgba(255, 255, 255, 0);
  -webkit-transition: stroke-dashoffset 2s ease .5s, fill 1.5s ease 1.0s;
  transition: stroke-dashoffset 2s ease .5s, fill 1.5s ease 1.0s;
}

#check.checked path {
  stroke-dashoffset: 33px;
  fill: rgba(255, 255, 255, 0.03);
}

li {
  padding-left: 10px;
  font-size: 18px;
  display: inline;
  text-align: left;
  text-transform: uppercase;
  padding-right: 10px;
  color: #ffffff;
}

.frame-auth {
  height: 420px;
  width: 460px;
  display: block;
  padding-bottom: 20px;
  background-color: #363735;
  margin-left: auto;
  margin-right: auto;
  border-top: solid 2px rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  -webkit-box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.frame-long {
  height: 540px;
}

.auth-nav {
  width: 100%;
  height: 100px;
  padding-top: 20px;
  opacity: 1;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.signin-active a {
  padding-bottom: 10px;
  color: #4cbc18;
  text-decoration: none;
  border-bottom: solid 4px #4cbc18;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  cursor: pointer;
}

.signin-inactive a {
  padding-bottom: 0;
  color: white;
  text-decoration: none;
  border-bottom: none;
  cursor: pointer;
}

.signup-active a {
  cursor: pointer;
  color: #4cbc18 !important;
  text-decoration: none;
  border-bottom: solid 4px #4cbc18;
  padding-bottom: 10px;
}

.signup-inactive a {
  cursor: pointer;
  color: white;
  text-decoration: none;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

.form-signin {
  width: 430px;
  font-size: 16px;
  font-weight: 300;
  padding-left: 37px;
  padding-right: 37px;
  -webkit-transition: opacity .5s ease, -webkit-transform .5s ease;
  transition: opacity .5s ease, -webkit-transform .5s ease;
  transition: opacity .5s ease, transform .5s ease;
  transition: opacity .5s ease, transform .5s ease, -webkit-transform .5s ease;
}

.form-signin-left {
  -webkit-transform: translateX(-400px);
          transform: translateX(-400px);
  opacity: .0;
}

.form-signup {
  margin-top: 160px;
  width: 430px;
  height: 375px;
  font-size: 12px;
  font-weight: 300;
  padding-left: 37px;
  padding-right: 37px;
  position: relative;
  top: -375px;
  left: 400px;
  opacity: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.form-signup-left {
  -webkit-transform: translateX(-399px);
          transform: translateX(-399px);
  opacity: 1;
}

.form-signup-down {
  top: 0px;
  opacity: 0;
}

.form-signin input,
.form-signup input {
  color: #ffffff;
  font-size: 13px;
}

.form-styling {
  width: 100%;
  height: 35px;
  padding-left: 15px;
  border: none;
  border-radius: 20px;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.2);
}

label {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 13px;
  padding-left: 15px;
  padding-bottom: 10px;
  color: rgba(255, 255, 255, 0.7);
  display: block;
}

:focus {
  outline: none;
}

.form-signin input:focus,
textarea:focus,
.form-signup input:focus,
textarea:focus {
  background: rgba(255, 255, 255, 0.3);
  border: none;
  padding-right: 40px;
  -webkit-transition: background .5s ease;
  transition: background .5s ease;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  display: none;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 85px;
  padding-top: 2px;
  cursor: pointer;
  margin-top: 8px;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '';
  position: absolute;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  width: 65px;
  height: 30px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  left: 0;
  top: -3px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  top: 7px;
  left: 10px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

[type="checkbox"]:checked + label:before {
  background: #4cbc18;
}

[type="checkbox"]:checked + label:after {
  background: #ffffff;
  top: 7px;
  left: 45px;
}

[type="checkbox"]:checked + label .ui,
[type="checkbox"]:not(:checked) + label .ui:before,
[type="checkbox"]:checked + label .ui:after {
  position: absolute;
  left: 6px;
  width: 65px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

[type="checkbox"]:not(:checked) + label .ui:before {
  content: "no";
  left: 32px;
  color: rgba(255, 255, 255, 0.7);
}

[type="checkbox"]:checked + label .ui:after {
  content: "yes";
  color: #ffffff;
}

[type="checkbox"]:focus + label:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: -1px;
}

.btn-signup {
  float: left;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  color: #ffffff;
  padding-top: 8px;
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 20px;
  margin-top: 23px;
  background-color: #4cbc18;
  text-decoration: none;
}

.btn-signin {
  float: left;
  padding-top: 8px;
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 20px;
  margin-top: -8px;
  color: white;
  text-decoration: none;
}

.btn-animate {
  float: left;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  color: white;
  padding-top: 8px;
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 20px;
  margin-top: 23px;
  background-color: #4cbc18;
  left: 0px;
  top: 0px;
  -webkit-transition: all .5s ease, top .5s ease .5s, height .5s ease .5s, background-color .5s ease .75s;
  transition: all .5s ease, top .5s ease .5s, height .5s ease .5s, background-color .5s ease .75s;
}

a.btn-signup:hover,
a.btn-signin:hover {
  cursor: pointer;
  background-color: #4cbc18;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
  color: black;
}

.forgot-password {
  color: #4cbc18;
  height: 100px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: -535px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.forgot-password:hover {
  color: black;
}

.nav-area {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 25px;
}

.btn-nav-round {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: green;
  border: 1px ridge black;
  margin-left: 2%;
  margin-right: 2%;
  color: white;
  -webkit-box-shadow: 0px 5px 15px -4px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 5px 15px -4px rgba(0, 0, 0, 0.55);
  text-decoration: none;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  padding-top: 7px;
}

.btn-nav-round:hover {
  background-color: black;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.active-nav {
  background-color: black;
  color: white;
  border-bottom: solid 4px #4cbc18;
}

.btn-nav-profile {
  width: 64px !important;
  height: 64px !important;
  margin-top: 5px !important;
}

.badge {
  height: 30px !important;
  width: 30px !important;
  position: relative;
  margin-top: 55px;
  margin-right: 20px;
  padding: 5px 10px;
  border-radius: 50% !important;
  background: red;
  color: white;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  padding-right: 12px !important;
}

.glyph-icon {
  font-size: 30px;
  color: white;
  margin: 0 auto;
  text-align: center;
  margin-top: -10px;
}

.glyph-icon-notification {
  margin-right: -36px;
}

.btn-add-friend {
  background-color: #4cbc18 !important;
  border-color: #4cbc18 !important;
  color: white !important;
  margin: 0 auto;
  border-radius: 20px !important;
  padding: 10px 0 10px 0 !important;
  margin-top: -20px;
}

.btn-tab-active {
  background-color: #4cbc18 !important;
  border-color: #4cbc18 !important;
  color: white !important;
}

.btn-add-friend:hover,
.btn-add-friend:active,
.btn-add-friend:focus {
  background-color: #319a00 !important;
  border-color: #319a00 !important;
}

.btn-add-friend:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.search-box {
  background-color: #1e1e1e !important;
  color: white !important;
}

.search-box:focus {
  background-color: #3c3d3b !important;
  color: white !important;
  border-color: #4cbc18 !important;
}

.btn-tab {
  background-color: #595a59;
  color: white !important;
  border: 1px solid #4cbc18 !important;
}

.btn-tab:hover {
  background-color: #4cbc18 !important;
  color: #595a59 !important;
}

.btn-tab:focus {
  background-color: #4cbc18 !important;
  color: black !important;
}

.btn-edit {
  background-color: #595a59 !important;
  color: #4cbc18 !important;
  border: 1px solid #4cbc18 !important;
}

.btn-edit:hover {
  background-color: #4cbc18 !important;
  color: #595a59 !important;
  border: 1px solid #4cbc18 !important;
}

.circle-profile {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  text-align: center;
  border: 1px solid black;
  -webkit-box-shadow: 0px 5px 15px -4px rgba(0, 0, 0, 0.55);
          box-shadow: 0px 5px 15px -4px rgba(0, 0, 0, 0.55);
  margin-top: 20px;
}

.circle-profile:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.user-label {
  padding: 15px 25px 15px 15px !important;
  margin: 10px 10px 10px 10px !important;
  border-radius: 20px !important;
  background-color: #1e1e1e !important;
  color: white !important;
  font-weight: bold;
  text-align: center !important;
}

.user-label:hover {
  border: 1px solid #4cbc18 !important;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 5px 15px -4px rgba(0, 0, 0, 0.55);
          box-shadow: 0px 5px 15px -4px rgba(0, 0, 0, 0.55);
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.user-label-delete {
  border-radius: 50%;
  padding: 11px;
  margin-left: 20px;
  font-size: 15px;
  vertical-align: middle !important;
}

.user-label-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #595a59 !important;
}

.user-label-text {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
}
/*# sourceMappingURL=style.css.map */