{% block flash_alert %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
        {% if category == 'error' %}
            <div class="alert-short alert alert-danger alert-dismissable fade show" role="alert">
                {{message}}
                <button type="button" class="btn btn-dark close float-right float-end" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% elif category == 'success' %}
            <div class="alert-short alert alert-success alert-dismissable fade show" role="alert">
                {{message}}
                <button type="button" class="btn btn-dark close float-end" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% elif category == 'warning' %}
            <div class="alert-short alert alert-warning alert-dismissable fade show" role="alert">
                {{message}}
                <button type="button" class="btn btn-dark close float-end" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

{% endwith %}

<script>
    $(document).ready(function() {
        // show the alert
        setTimeout(function() {
            $(".alert").alert('close');
        }, 4700);
    });
</script>

{% endblock %}