{% extends "base.html" %} {% block nav %}

<div class="d-flex flex-row justify-content-around nav-area primary-canvas">
  <a href="/my-profile" class="btn-nav-round">
    <span class="glyph-icon fa-solid fa-chevron-left"></span>
  </a>
</div>
  
  {% endblock %}
  
  {% block content %}
  
<div class="container canvas-primary3 font-primary col-sm-10 col-md-6 col-xl-4">
  <div class="row justify-content-center">
    <div class="col-sm-11 col-md-11 col-xl-11">
      <div class="card canvas-primary2">
        <div class="card-body">
          <div class="d-flex flex-column align-items-center text-center">
            <div class="circle-profile" style="background-color: {{ user.color }}"></div>
            <div class="mt-3">
              <h4 class="canvas-primary1" style="padding: 5px 10px 5px 10px;">{{ user.username }}</h4>
            </div>
          </div>
        </div>

        <ul class="list-group list-group-flush bg-primary2 mb-4">        
          <li
            class="no-bg list-group-item ms-4 me-4 d-flex justify-content-start align-items-center flex-wrap"
          >
            <span class="fa-solid fa-envelope user-glyph" style="background-color: {{ user.color }};"></span>
            <span class="font-primary ms-4">{{ user.email }}</span>
          </li>
        
          
          <li
            class="no-bg list-group-item ms-4 me-4 d-flex justify-content-start align-items-center flex-wrap"
          >
            <span class="fa-solid fa-phone user-glyph" style="background-color: {{ user.color }};"></span>
            <span class="font-primary ms-4">
              {% if user.phone %}
                {{ user.phone }}
              {% else %}
                <span class="font-primary">No phone number</span>
              {% endif %}
            </span>
          </li>

          <li
            class="no-bg list-group-item ms-4 me-4 d-flex justify-content-start align-items-center flex-wrap"
          >
          
            
        </ul>
      </div>  <!-- /.col-md-4 -->

    </div> <!-- /.col-md-8 -->
  </div> <!-- /.row -->
</div> <!-- /.container -->

  {% endblock %}